<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" 
		 xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>  
        <param-name>primefaces.THEME</param-name>  
        <param-value>bootstrap</param-value> 
    </context-param> 
    <context-param>
	<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
	<param-value>true</param-value>
    </context-param>
    <context-param>
	<param-name>javax.faces.CONFIG_FILES</param-name>
            <param-value>WEB-INF/navigation-rule.xml</param-value>
    </context-param>
    <listener>
	<listener-class>
            org.springframework.web.context.ContextLoaderListener
	</listener-class>
    </listener>
    <listener>
	<listener-class>
            org.springframework.web.context.request.RequestContextListener
        </listener-class>
    </listener>
    <servlet>
	<servlet-name>LoadLog4j</servlet-name>
        <servlet-class>com.cgaf.servlets.LoadLog4j</servlet-class>
        <init-param>
            <param-name>log4jPropertiesFile</param-name>
            <param-value>/WEB-INF/classes/config/properties/log4j.properties</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>15</session-timeout>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/template/login/login.xhtml</welcome-file>
    </welcome-file-list>
</web-app>